# Convert JSON Files to CSV

This notebook, we will read the json files, normalise it and create a csv file for each json file.

### Imports

In [1]:
import os
import pandas as pd
import json
import pathlib
import flat_table

### Parameters

In [2]:
data_folderpath = os.path.join(os.pardir, 'data')
glob_pattern = '_x'

## Create CSV from JSON Files

In [3]:
generator = pathlib.Path(data_folderpath).glob('*' + glob_pattern + '.json')

In [4]:
for x in generator:
    with open(x) as jfile:
        data = pd.read_json(jfile)
        data = flat_table.normalize(data, expand_lists=False)
        data.drop('index', inplace=True, axis=1)
        
        data.to_csv(os.path.join(data_folderpath, x.stem + '.csv'), index=False)
        
        print('{} is converted to {}.csv'.format(x.name, x.stem))

checkin_x.json is converted to checkin_x.csv
business_x.json is converted to business_x.csv
user_x.json is converted to user_x.csv
tip_x.json is converted to tip_x.csv
review_x.json is converted to review_x.csv
photo_x.json is converted to photo_x.csv

## Check the file

In [5]:
generator = pathlib.Path(data_folderpath).glob('*' + glob_pattern + '.csv')

In [6]:
for x in sorted(generator, key=os.path.getctime):
    print(x)

../data/checkin_x.csv
../data/business_x.csv
../data/user_x.csv
../data/tip_x.csv
../data/review_x.csv
../data/photo_x.csv

In [25]:
df = pd.read_csv('../data/review_x.csv', low_memory=False, memory_map=True)
df.shape

(6685902, 9)

In [26]:
df.tail(2)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
6685900,o8Nc2BJhKJXM6tRHJDRuPA,wu5R5_N7q5iqCBh6NBX26Q,kOo4ZY2UQAX4j312mzQ8mA,5.0,1.0,1.0,1.0,We hired Taco Naco to cater our family party a...,2018-08-13 18:09:16
6685901,OKmOLFwtI-NjofTHAGzv1Q,Ej3mCvjcwVXCSPB_avIfjQ,PkqN5st3zZ_Xce_5QlBtNQ,3.0,2.0,0.0,0.0,Having just come back from Hawaii a few months...,2018-11-12 20:25:32

In [27]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6685902 entries, 0 to 6685901
Columns: 9 entries, review_id to date
dtypes: float64(4), object(5)
memory usage: 459.1+ MB

In [36]:
os.path.join(data_folderpath, x.stem + '.csv')

'../data/photo_x.csv'